-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: madaregdb
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `subscribers`
--

DROP TABLE IF EXISTS `subscribers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscribers` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `subscriber_user_id` bigint unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `birth_date` date DEFAULT NULL,
  `join_date` date DEFAULT NULL,
  `birth_place` varchar(255) DEFAULT NULL,
  `residence_place` varchar(255) DEFAULT NULL,
  `nationality` varchar(255) DEFAULT NULL,
  `gender` tinyint unsigned DEFAULT NULL,
  `track_degree_id` bigint unsigned DEFAULT NULL,
  `total_points` smallint unsigned NOT NULL DEFAULT '0',
  `stage_id` bigint unsigned DEFAULT NULL,
  `study_level` varchar(255) DEFAULT NULL,
  `education_type` int DEFAULT NULL,
  `school_name` varchar(255) DEFAULT NULL,
  `is_quran_student` tinyint(1) NOT NULL DEFAULT '0',
  `quran_amount` varchar(255) DEFAULT NULL,
  `quran_memorization_center` varchar(255) DEFAULT NULL,
  `talents` text,
  `social_status` int DEFAULT NULL,
  `father_job` varchar(255) DEFAULT NULL,
  `father_job_type` int DEFAULT NULL,
  `mother_job` varchar(255) DEFAULT NULL,
  `mother_job_type` int DEFAULT NULL,
  `health_status` int DEFAULT NULL,
  `disease_type` varchar(255) DEFAULT NULL,
  `has_relatives_at_madareg_administration` tinyint(1) DEFAULT NULL,
  `relatives_at_madareg_administration` varchar(255) DEFAULT NULL,
  `has_relatives_at_madareg` tinyint(1) DEFAULT NULL,
  `relatives_at_madareg` varchar(255) DEFAULT NULL,
  `father_phone` varchar(255) DEFAULT NULL,
  `mother_phone` varchar(255) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `locked` tinyint(1) NOT NULL DEFAULT '0',
  `image_path` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `follow_up_template_id` bigint unsigned DEFAULT NULL,
  `group_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `subscribers_user_id_foreign` (`user_id`),
  KEY `subscribers_track_degree_id_foreign` (`track_degree_id`),
  KEY `subscribers_stage_id_foreign` (`stage_id`),
  KEY `subscribers_group_id_index` (`group_id`),
  KEY `subscribers_follow_up_template_id_index` (`follow_up_template_id`),
  KEY `subscribers_gender_index` (`gender`),
  KEY `subscribers_subscriber_user_id_foreign` (`subscriber_user_id`),
  CONSTRAINT `subscribers_follow_up_template_id_foreign` FOREIGN KEY (`follow_up_template_id`) REFERENCES `follow_up_templates` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subscribers_group_id_foreign` FOREIGN KEY (`group_id`) REFERENCES `groups` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subscribers_stage_id_foreign` FOREIGN KEY (`stage_id`) REFERENCES `stages` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subscribers_subscriber_user_id_foreign` FOREIGN KEY (`subscriber_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subscribers_track_degree_id_foreign` FOREIGN KEY (`track_degree_id`) REFERENCES `track_degrees` (`id`) ON DELETE SET NULL,
  CONSTRAINT `subscribers_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscribers`
--

LOCK TABLES `subscribers` WRITE;
/*!40000 ALTER TABLE `subscribers` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscribers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-12  0:17:03
